<if @book.save>
  <p>Book was successfully created</p>
<else>
  render :show_book_path
</>

<p>
  <strong>
    <h4>Title:</h4>
  </strong>
  <%= @book.title %>
</p>
<p>
  <strong>
  <h4>Body:</h4>
  </strong>
  <%= @book.body %>
</p>

<%= link_to Edit, edit_book_path(books.id) %>
<%= link_to Back, books_path %>

